GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
OPENROUTER_API_KEY=YEH_YOUR_OPENROUTER_API_KEY_HERE
ALLOWED_ORIGIN=FRONTEND_URI
# This is being sent with request to validate. Just keep it like that.
DESKRAG_API_KEY=Ahmad$417 
