
ALLOWED_ORIGIN=http://localhost:3000 --- Use this in development. Once you deployed change with one your

# DESKRAG_API_KEY=Ahmad$417 --- I was sending this x-api-key but it seemed annoying while testing in postman, So IGNORE THIS

CLOUDFLARE_API_TOKEN=I_Can't_Give_Mine_So_Bring_Your_And_Dont_Forget_To_Give_It_Permissions_Otherwise_You_Will_Suffer_Like_Me
CLOUDFLARE_ACCOUNTID=1b90534e12e3ecb....... # Make a Cloudflare account and get your account id from there even you can copy from abour url.
PORT=7000 # Your know it 😉

