RESEND_API_KEY=REPLACE_WITH_YOUR_RESEND_API_KEY 
MONGODB_URI=REPLACE_WITH_YOUR_MONGODB_URI 
DESKRAG_URI=This_is_Your_Backend_URI
ACCESS_TOKEN_SECRET=just_put_any_string_you_have 
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=ah_you_know_what_to_put_here
REFRESH_TOKEN_EXPIRY=7d
GOOGLE_GENERATIVE_AI_API_KEY=YOUR_GOOGLE_GENERATIVE_AI_API_KEY_HERE